<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="date_filter">
    <div class="input-group ml-2">
        <div class="input-group-prepend">
            <label class="input-group-text" for="date_from" th:text="#{pool_date_filter.label.date_from}"></label>
        </div>
        <input th:placeholder="#{date.format}" th:field="*{from}" type="date" max="9999-12-31" min="1000-01-01" class="form-control" id="date_from">
    </div>
    <div class="input-group ml-2">
        <div class="input-group-prepend">
            <label class="input-group-text" for="date_to" th:text="#{pool_date_filter.label.date_to}"></label>
        </div>
        <input th:placeholder="#{date.format}" th:field="*{to}" type="date" max="9999-12-31" min="1000-01-01" class="form-control" id="date_to">
    </div>
    <button th:text="#{button.submit}" type="submit" class="btn btn-primary ml-2"></button>
    <button th:text="#{button.reset}" type="reset" class="btn btn-secondary ml-1"></button>
</body>
</html>