<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="form-check form-check-inline" th:fragment="pool_date_filter">
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" for="poolSelect" th:text="#{pool_date_filter.label.pool}"></label>
        </div>
        <select class="form-control" th:field="*{pool}" id="poolSelect" required>
            <option th:each="pool: ${pools}"
                    th:value="${pool.id}"
                    th:text="${pool.name}"></option>
        </select>
    </div>
    <body th:insert="fragments/filter/date_filter :: date_filter"></body>
</div>
</body>
</html>