html, body{
    height: 100%;
}

body {
    /* Url to the image */
    background-image: url(/images/background.jpg);

    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.input-group-date {
    min-width: 15rem
}

.duration {
    min-width: 6rem;
}