<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="fragments/layout">
<head>
    <title th:text="#{records.delete.title}"></title>
</head>
<body>
<div layout:fragment="content" class="card m-3">
    <div class="card-header">
        <div>
            <a href="javascript:history.back()">
                <i class="fas fa-arrow-circle-left"></i>
                <span th:text="#{back}"></span>
            </a>
        </div>
        <hr>
        <div>
            <h4 th:text="#{records.delete.title}" class="card-title"></h4>
            <p th:text="#{records.delete.subtitle}" class="card-subtitle text-muted"></p>
        </div>
    </div>
    <div class="card-body">
        <form action="#" th:action="@{/records/delete/(id=${record.id})}" th:object="${record}" th:method="DELETE">
            <div class="form-group">
                <label th:text="#{records.date}" for="date"></label>
                <input readonly th:field="*{date}" type="date" class="form-control" id="date" required>
            </div>
            <div class="form-group">
                <label th:text="#{records.start_time}" for="start_time"></label>
                <input readonly th:field="*{startTime}" type="time" class="form-control" id="start_time" required>
            </div>
            <div class="form-group">
                <label th:text="#{records.end_time}" for="end_time"></label>
                <input readonly th:field="*{endTime}" type="time" class="form-control" id="end_time" required>
            </div>
            <div class="form-group">
                <label th:text="#{records.description}" for="description"></label>
                <input readonly th:field="*{description}" type="text" class="form-control" id="description" required>
            </div>
            <div class="form-group drop-down">
                <label th:text="#{records.pool}" for="pool"></label>
                <input readonly th:field="*{pool.name}" type="text" class="form-control" id="pool" required>
            </div>
            <p>
                <button th:text="#{button.delete}" name="delete" type="submit" value="true"
                        class="btn btn-primary mr-1"></button>
            </p>
        </form>
    </div>
</div>
</body>
</html>