<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title th:text="#{records.overview.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${#request.getParameter('successful') != null}" class="card m-3">
        <div th:if="${#request.getParameter('successful') == 'true'}" class="card-body text-white bg-success">
            <span th:text="#{records.edit.info.successful}"></span>
        </div>
    </div>
    <div class="card m-3">
        <div class="card-header">
            <h4 th:text="#{records.overview.title}" class="card-title"></h4>
            <p th:text="#{records.overview.subtitle}" class="card-subtitle text-muted"></p>
        </div>
        <div class="card-body">
            <form action="#" th:action="@{/records/overview/filter}" th:object="${filter}" method="get">
                <div th:replace="fragments/filter/pool_date_filter :: pool_date_filter"></div>
            </form>
            <hr>
            <div th:if="${records != null && records.isEmpty()}">
                <p th:text="#{nothing_found}"></p>
            </div>
            <div th:if="${records != null && !records.isEmpty()}">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{records.overview.table.header.date}"></th>
                        <th scope="col" th:text="#{records.overview.table.header.time}"></th>
                        <th scope="col" th:text="#{records.overview.table.header.description}"></th>
                        <th scope="col" th:text="#{records.analysis.table.header.duration}"></th>
                        <th scope="col" th:text="#{records.overview.table.header.actions}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="record: ${records}">
                        <td th:text="${#temporals.format(record.date, 'dd.MM.yyyy')}"></td>
                        <td th:text="${#temporals.format(record.startTime, 'HH:mm')} + ' - ' + ${#temporals.format(record.endTime, 'HH:mm')}"></td>
                        <td th:text="${record.description}"></td>
                        <td th:text="${@displayNameBuilder.convertMinutesToHoursAndMinutes(record.duration)}"></td>
                        <td>
                            <a th:href="@{/records/edit/{id}(id=${record.id})}">
                                <i class="fas fa-edit"></i>
                                <span th:text="#{records.overview.table.data.actions.edit}"></span>
                            </a>
                            <!--a th:href="@{/records/delete/{id}(id=${record.id})}" -->
                                <i class="fas fa-trash-alt"></i>
                                <span th:text="#{records.overview.table.data.actions.delete}"></span>
                            <!--/a-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--button th:text="#{button.export}" type="button" class="btn btn-primary ml-2"></button-->
        </div>
    </div>
</div>
</body>
</html>