<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title th:text="#{access_denied.title}"></title>
</head>
<body>
<div layout:fragment="content">
<div class="card text-center m-3">
    <div class="card-header"><img class="img-fluid" th:src="@{/images/agamoTTTo_logo_transparent.png}"/></div>
    <div class="card-body">
        <h5 class="card-title" th:text="#{access_denied.title}"></h5>
        <p class="card-text" th:text="#{access_denied.card.text}"></p>
    </div>
    <div class="card-footer">
        <a th:href="@{/}" th:text="#{back_to_overview}"></a>
    </div>
</div>
</div>
</body>
</html>