<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/material-design-icons/material-icons.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/project.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/jquery/jquery.min.js}"></script>

    <meta charset="UTF-8">
    <title th:text="#{access_denied.title}"></title>
</head>
<body>
<div class="card text-center m-2">
    <h5 class="card-header"><img class="img-fluid" th:src="@{/images/agamoTTTo_logo_transparent.png}"/></h5>
    <div class="card-body">
        <h5 class="card-title" th:text="#{access_denied.card.title}"></h5>
        <p class="card-text" th:text="#{access_denied.card.text}"></p>
    </div>
    <div class="card-footer">
        <a th:href="@{/home}">Zurück zur Übersicht</a>
    </div>
</div>
</body>
</html>