<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title th:text="#{forgot_password.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="card w-50 mx-auto text-center m-3 bg-light">
        <div class="card-body">
            <a th:href="@{/}">
                <img class="img-fluid" th:src="@{/images/agamoTTTo_logo_transparent.png}" alt=""/>
            </a>
        </div>

        <div th:if="${#request.getParameter('submitted') == null}" class="card-body text-white bg-primary">
            <span th:text="#{forgot_password.description}"></span>
        </div>
        <div th:if="${#request.getParameter('submitted') == 'true'}" class="card-body text-white bg-success">
            <span th:text="#{forgot_password.submitted}"></span>
        </div>
        <div th:if="${#request.getParameter('token') == 'invalid'}" class="card-body text-white bg-success">
            <span th:text="#{forgot_password.token.invalid}"></span>
        </div>

        <div class="card-body">
            <form class="form-signin" th:action="@{/forgotPassword}" method="POST">
                <input type="email" name="email" th:value="${email}" class="form-control mb-3"
                       th:placeholder="#{index.login.label.email}" required="" autofocus="">
                <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{button.submit}"></button>
            </form>
        </div>
    </div>
</div>
</body>
</html>