<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title th:text="#{home.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="card text-center m-3">
        <div class="card-header"><img class="img-fluid" th:src="@{/images/agamoTTTo_logo_transparent.png}"/></div>
        <div class="card-body">
            <h5 class="card-title">Herzlich Willkommen.</h5>
            <p class="card-text">Deine E-Mail: <span th:text="${email}"></span></p>
            <p class="card-text">Deine Berechtigung: <span th:text="${authority}"></span> </p>
        </div>
        <div class="card-footer">
            <h6>Danke für Ihren Besuch!</h6>
        </div>
    </div>
</div>
</body>
</html>