<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title th:text="#{home.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="card text-center m-3">
        <div class="card-header"><img class="img-fluid" th:src="@{/images/agamoTTTo_logo_transparent.png}"/></div>
        <div class="card-body">
            <h5 class="card-title" th:text="#{home.card.body.title}"></h5>
            <p class="card-text" th:text="#{home.card.body.text}"></p>
        </div>
        <div class="card-footer">
            <h6 th:text="#{home.card.footer}"></h6>
        </div>
    </div>
</div>
</body>
</html>