<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title th:text="#{update_password.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="card w-50 mx-auto text-center m-3 bg-light">
        <div class="card-body">
            <a th:href="@{/}">
                <img class="img-fluid" th:src="@{/images/agamoTTTo_logo_transparent.png}" alt=""/>
            </a>
        </div>

        <div class="card-body">
            <form action="#" th:action="@{/updatePassword}" th:object="${newPasswordForm}" method="post">
                <div class="form-group">
                    <label th:text="#{password.label.new_password}" for="newPassword"></label>
                    <input th:field="*{newPassword}" th:errorclass="is-invalid" type="password" class="form-control"
                           id="newPassword" required>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('newPassword')}"
                         th:errors="*{newPassword}"></div>
                </div>
                <div class="form-group">
                    <label th:text="#{password.label.confirmation_password}"
                           for="confirmationPassword"></label>
                    <input th:field="*{confirmationPassword}" th:errorclass="is-invalid" type="password"
                           class="form-control" id="confirmationPassword" required>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmationPassword')}"
                         th:errors="*{confirmationPassword}"></div>
                </div>
                <p>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{button.submit}"></button>
                    <button class="btn btn-lg btn-secondary btn-block" type="reset" th:text="#{button.reset}"></button>
                </p>
            </form>
        </div>
    </div>
</div>
</body>
</html>
