<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title th:text="#{pools.add.title}"></title>
</head>
<body>
<div layout:fragment="content">
<div th:if="${#request.getParameter('successful') != null}" class="card m-3">
    <div th:if="${#request.getParameter('successful') == 'true'}" class="card-body text-white bg-success">
        <span th:text="#{pools.add.info.successful}"></span>
    </div>
</div>
<div class="card m-3">
    <div class="card-header">
        <h4 th:text="#{pools.add.title}" class="card-title"></h4>
        <p th:text="#{pools.add.subtitle}" class="card-subtitle text-muted"></p>
    </div>
    <div class="card-body">
        <form action="#" th:action="@{/pools/add}" th:object="${pool}" method="post">
            <div class="form-group">
                <label th:text="#{pools.name}" for="name"></label>
                <input th:placeholder="#{pools.name}" th:field="*{name}" th:errorclass="is-invalid" type="text"
                       class="form-control" id="name" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            <p>
                <button th:text="#{button.submit}" type="submit" class="btn btn-primary mr-1"></button>
            </p>
        </form>
    </div>
</div>
</div>
</body>
</html>