<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title th:text="#{pools.add_assignment.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="card m-3">
        <div class="card-header">
            <div>
                <a href="javascript:history.back()">
                    <i class="fas fa-arrow-circle-left"></i>
                    <span th:text="#{back}"></span>
                </a>
            </div>
            <hr>
            <div>
                <h4 th:text="#{pools.add_assignment.title} + ${userPool.pool.name}" class="card-title"></h4>
                <p th:text="#{pools.add_assignment.subtitle}" class="card-subtitle text-muted"></p>
            </div>
        </div>
        <div class="card-body">
            <div th:if="${userList.isEmpty()}">
                <p th:text="#{employees.error.not_found}"></p>
            </div>
            <div th:unless="${userList.isEmpty()}">
                <form action="#" th:action="@{/pools/addAssignment}" th:object="${userPool}" method="post">
                    <div class="form-group drop-down">
                        <label th:text="#{pools.add_assignment.label.user}" for="user"></label>
                        <select th:field="*{user}" class="form-control" id="user" required>
                            <option th:each="user: ${userList}"
                                    th:value="${user.id}"
                                    th:text="${@displayNameBuilder.display(user)}"></option>
                        </select>
                    </div>
                    <input type="hidden" th:field="*{pool}" th:value="${userPool.pool.id}">
                    <p>
                        <button th:text="#{button.submit}" type="submit" class="btn btn-primary mr-1"></button>
                        <button th:text="#{button.reset}" type="reset" class="btn btn-secondary"></button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>