<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title th:text="#{pools.analysis.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="card m-3">
        <div class="card-header">
            <h4 th:text="#{pools.analysis.title}" class="card-title"></h4>
            <p th:text="#{pools.analysis.subtitle}" class="card-subtitle text-muted"></p>
        </div>
        <div class="card-body">
            <form action="#" th:action="@{/pools/analysis/filter}" th:object="${filter}" method="get">
                <div class="row">
                    <div th:replace="fragments/filter/pool_date_filter :: pool_date_filter"></div>
                    <div class="col-xl d-xl-none mt-1"></div>
                    <div class="col-xl">
                        <button th:text="#{button.submit}" type="submit" class="btn btn-primary"></button>
                        <button th:text="#{button.reset}" type="reset" class="btn btn-secondary"></button>
                    </div>
                </div>
            </form>
            <hr>
            <div th:if="${durationPerUser != null && durationPerUser.isEmpty()}">
                <p th:text="#{employees.error.not_found}"></p>
            </div>
            <div th:if="${durationPerUser != null && !durationPerUser.isEmpty()}" class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{pools.analysis.table.header.user}"></th>
                        <th scope="col" th:text="#{pools.analysis.table.header.duration}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="durationPerUser : ${durationPerUser}">
                        <td th:text="${@displayNameBuilder.display(durationPerUser.getKey(), false)}"></td>
                        <td th:text="${@displayNameBuilder.convertMinutesToHoursAndMinutes(durationPerUser.getValue())}"></td>
                    </tr>
                    <tr class="table-success">
                        <td th:text="#{records.sum}"></td>
                        <td th:text="${@displayNameBuilder.convertMinutesToHoursAndMinutes(totalDuration)}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>