<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title th:text="#{pools.overview.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${#request.getParameter('successful') != null}" class="card m-3">
        <div th:if="${#request.getParameter('successful') == 'true'}" class="card-body text-white bg-success">
            <span th:text="#{pools.edit.info.successful}"></span>
        </div>
    </div>
    <div class="card m-3">
        <div class="card-header">
            <h4 th:text="#{pools.overview.title}" class="card-title"></h4>
            <p th:text="#{pools.overview.subtitle}" class="card-subtitle text-muted"></p>
        </div>
        <div class="card-body" th:if="${pools.isEmpty()}">
            <p th:text="#{pools.error.not_found}"></p>
        </div>
        <div class="card-body" th:unless="${pools.isEmpty()}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" th:text="#{pools.name}"></th>
                    <th scope="col" th:text="#{pools.owner}"></th>
                    <th scope="col" th:text="#{actions}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pool: ${pools}">
                    <td th:text="${pool.name}"></td>
                    <td th:text="${@displayNameBuilder.display(pool.owner)}"></td>
                    <td>
                        <a th:if="${pool.owner.id==userId || #authorization.expression('hasRole(''ROLE_ADMINISTRATOR'')')}"
                           th:href="@{/pools/edit/{id}(id=${pool.id})}">
                            <i class="fas fa-edit"></i>
                            <span th:text="#{actions.edit}"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>