<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title th:text="#{employees.overview.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${#request.getParameter('successful') != null}" class="card m-3">
        <div th:if="${#request.getParameter('successful') == 'true'}" class="card-body text-white bg-success">
            <span th:text="#{employees.edit.info.successful}"></span>
        </div>
    </div>
    <div class="card m-3">
        <div class="card-header">
            <h4 th:text="#{employees.overview.title}" class="card-title"></h4>
            <p th:text="#{employees.overview.subtitle}" class="card-subtitle text-muted"></p>
        </div>
        <div class="card-body">
            <form action="#" th:action="@{/employees/overview}" method="get">
                <div class="row">
                    <div class="form-check form-check-inline">
                        <div class="input-group col-xl">
                            <input th:placeholder="#{employees.overview.search}" type="text" th:value="${serchTerm}"
                                   name="searchTerm"/>
                        </div>
                    </div>
                    <div class="col-xl d-xl-none mt-1"></div>
                    <div class="col-xl-3">
                        <button th:text="#{button.submit}" type="submit" name="type" value="search"
                                class="btn btn-primary"></button>
                        <button th:text="#{button.show_all}" type="submit" name="type" value="showAll"
                                class="btn btn-success"></button>
                    </div>
                </div>
            </form>
            <hr>
            <div th:if="${users != null && users.isEmpty()}">
                <p th:text="#{nothing_found}"></p>
            </div>
            <div th:if="${users != null && !users.isEmpty()}" class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{employees.last_name}"></th>
                        <th scope="col" th:text="#{employees.first_name}"></th>
                        <th scope="col" th:text="#{employees.email}"></th>
                        <th scope="col" th:text="#{employees.status}"></th>
                        <th scope="col" th:text="#{roles.name}"></th>
                        <th scope="col" th:text="#{actions}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user: ${users}">
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:if="${user.enabled}">
                            <i class="fas fa-lock-open"></i>
                            <span th:text="#{employees.status.enabled}"></span>
                        </td>
                        <td th:unless="${user.enabled}">
                            <i class="fas fa-lock"></i>
                            <span th:text="#{employees.status.disabled}"></span>
                        </td>
                        <td th:text="${@displayNameBuilder.display(user.role)}"></td>
                        <td>
                            <a th:href="@{/employees/edit/{id}(id=${user.id})}">
                                <i class="fas fa-edit"></i>
                                <span th:text="#{actions.edit}"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>