<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title th:text="#{logs.overview.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="card m-3">
        <div class="card-header">
            <h4 th:text="#{logs.overview.title}" class="card-title"></h4>
            <p th:text="#{logs.overview.subtitle}" class="card-subtitle text-muted"></p>
        </div>
        <div class="card-body">
            <form action="#" th:action="@{/logs/overview}" th:object="${filter}" method="post">
                <div th:replace="fragments/filter/pool_date_filter :: pool_date_filter"></div>
            </form>
            <hr>
            <div th:if="${recordLogs != null && recordLogs.isEmpty()}">
                <p th:text="#{nothing_found}"></p>
            </div>
            <div th:each="recordLog: ${recordLogs}">
                <div th:if="${recordLog.changeType.name() == 'created'}">
                    <div class="card bg-light border-success mb-2">
                        <div class="card-header" th:text="${#temporals.format(recordLog.changeAt, 'dd.MM.yyyy HH:mm')}"></div>
                        <div class="card-body">
                            <h6 class="card-title" th:text="${@displayNameBuilder.display(recordLog.user)} + ' ' +  #{logs.overview.card.header.created}"></h6>
                            <p class="card-text" th:text="${@displayNameBuilder.display(recordLog.record)}"></p>
                        </div>
                    </div>
                </div>
                <div th:if="${recordLog.changeType.name() == 'deleted'}">
                    <div class="card bg-light border-danger mb-2">
                        <div class="card-header" th:text="${#temporals.format(recordLog.changeAt, 'dd.MM.yyyy HH:mm')}"></div>
                        <div class="card-body">
                            <h6 class="card-title" th:text="${@displayNameBuilder.display(recordLog.user)} + ' ' +  #{logs.overview.card.header.deleted}"></h6>
                            <p class="card-text" th:text="${@displayNameBuilder.display(recordLog.record)}"></p>
                        </div>
                    </div>
                </div>
                <div th:if="${recordLog.changeType.name() == 'modified'}">
                    <div class="card bg-light border-warning mb-2">
                        <div class="card-header" th:text="${#temporals.format(recordLog.changeAt, 'dd.MM.yyyy HH:mm')}"></div>
                        <div class="card-body">
                            <h6 class="card-title" th:text="${@displayNameBuilder.display(recordLog.user)} + ' ' +  #{logs.overview.card.header.modified}"></h6>
                            <span class="card-text" th:text="#{logs.overview.card.body.before_change} + ' ' + ${@displayNameBuilder.display(recordLog)}"></span><br>
                            <span class="card-text" th:text="#{logs.overview.card.body.after_change} + ' ' + ${@displayNameBuilder.display(recordLog.record)}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>