<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title th:text="#{settings.change_password.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="card m-3">
        <div class="card-header">
            <div>
                <h4 th:text="#{settings.change_password.title}" class="card-title"></h4>
                <p th:text="#{settings.change_password.subtitle}" class="card-subtitle text-muted"></p>
            </div>
        </div>
        <div class="card-body">
            <form action="#" th:action="@{/settings/changePassword}" th:object="${changePasswordForm}" method="post">
                <div class="form-group">
                    <label th:text="#{settings.change_password.label.old_password}" for="oldPassword"></label>
                    <input th:field="*{oldPassword}" th:errorclass="is-invalid" type="password" class="form-control"
                           id="oldPassword" required>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('oldPassword')}"
                         th:errors="*{oldPassword}"></div>
                </div>
                <div class="form-group">
                    <label th:text="#{settings.change_password.label.new_password}" for="newPassword"></label>
                    <input th:field="*{newPassword}" th:errorclass="is-invalid" type="password" class="form-control"
                           id="newPassword" required>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('newPassword')}"
                         th:errors="*{newPassword}"></div>
                </div>
                <div class="form-group">
                    <label th:text="#{settings.change_password.label.confirmation_password}"
                           for="confirmationPassword"></label>
                    <input th:field="*{confirmationPassword}" th:errorclass="is-invalid" type="password"
                           class="form-control" id="confirmationPassword" required>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmationPassword')}"
                         th:errors="*{confirmationPassword}"></div>
                </div>
                <p>
                    <button th:text="#{button.submit}" type="submit" class="btn btn-primary mr-1"></button>
                    <button th:text="#{button.reset}" type="reset" class="btn btn-secondary"></button>
                </p>
            </form>
        </div>
    </div>
</div>
</body>
</html>
